server:
  port: 8080
  error:
    include-message: always

spring:
  datasource:
    url: jdbc:postgresql://localhost:5332/e_banking_suite
    username: amigoscode
    password: postgrespw
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate: dialect:org.hibernate.dialect.PostgresSQLDialect
      format_sql: true
    show-sql: false
  main:
    web-application-type: servlet